body, html {
color: #474747;
font-size: 62.5%;
height: 100%;
width:100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:focus {
  outline: 0;
}
#background {
    height: 100%;
    width:100%;
    /*background-image: url("images/jj-ying-236821.jpg");*/
    /*background-image: url("images/carlos-dominguez-210162.jpg");*/
    /*background-image: url("images/pawel-nolbert-291146.jpg");*/
    /*background-image: url("images/martin-reisch-272883.jpg");*/

    background-image: url("images/vadim-sherbakov-277610-smaller.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;
}

#slide-a-spacer {
  height: 60%;
  width:100%;
  background: transparent;
}

#slide-1 {
  height: 40%;
  background-color: white;
}
#slide-b {
  height: 30%;
  background: transparent;
}
#slide-2 {
  height: 106%;
  background-color: white;
}
#slide-c {
  height: 20%;
  background: transparent;
}
#slide-3 {
  height: 166%;
  background-color: white;
}
#slide-d {
  height: 30%;
  background: transparent;
}

#title {
  float: left;
  width: 100%;
  margin: 6% auto 5% auto;
  text-align: center;
  font-size: 2.3em;
  text-transform: uppercase;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: 0.1em;
}

.proj-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5%;
  font-size: 1.8em;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: 0.1em;
}

.proj-subtitle {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: 1.5em;
  font-style: italic;
  font-family: "adobe-caslon-pro",serif;
}
.portfolio-img-container {
  width: 65%;
  margin: 0% auto 0% auto;
}
  #portfolio-img-card-one {
    width: 45%;
    float: left;
  }

  #portfolio-img-card-two {
    width: 45%;
    float: right;
  }

#pers-dashb-img, #monoto-img-one {
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
}

/*Proj Details*/
.proj-dets-title-container {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 7%;
  color: #3d3d3d;
}

.proj-dets-maintitle {
  text-transform: uppercase;
  font-size: 2.3em;
  font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: 0.1em;
}

.proj-dets-subtitle {
  margin-top: 1%;
  font-size: 1.7em;
  font-family: "adobe-caslon-pro",serif;
  font-style: italic;
}
.proj-dets-img-container {
  width: 75%;
  margin: 0 auto 0 auto;
}
.proj-dets-img-container img {
  width: 100%;
}
  img {
    border: 1px solid rgba(0,0,0,0.1);
  }

  .proj-dets-img-container.monoto {
    width: 75%;
    height: 18%;
  }

  #monoto-img-main-holder{
    height: 100%;
    width: 100%;
    float: left;
  }
  #monoto-img-main-holder img {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #monoto-img-email-holder{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 3%;
  }
  #monoto-img-email-holder img {
    width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    text-decoration: none;
  }
  .clickme-text {
    width: 100%;
    font-size: 1.5em;
    line-height: 150%;
    font-style: italic;
    font-family: "adobe-caslon-pro",serif;
    letter-spacing: 0.03em;
  }
  .clickme-text.personal-dashboard{
    padding-left: 82%;
  }
  .clickme-text.monoto{
    padding-left: 82%;
  }

  .clickme-dot {
    background-color: blue;
    opacity: 0.8;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
  }
  .clickme-dot.personal-dashboard {
    margin-left: 97%;
    margin-top: -4%;
  }
  .clickme-dot.monoto {
    margin-left: 97%;
    margin-top: -4%;
  }

.proj-dets-text-container {
  width: 85%;
  /*width: 75%;*/
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.0em;
  line-height: 150%;
  font-family: "adobe-caslon-pro",serif;
  letter-spacing: 0.03em;
}
.points{
  width: 64%;
  margin-left: 4%;
  /*width: 67%;*/
  /*margin-left: 6%;*/
  float: left;
  /*border: 1px solid red;*/
}
.tech-stack {
  width: 28%;
  /*width: 27%;  350px*/
  float: right;
  /*border: 1px solid green;*/
}
.quote {
  width: 96%;
  font-size: 1.9em;
  color: grey;
  font-style: italic;
  letter-spacing: 0.01em;
  padding-top: 2%;
  margin-left: 3%;
}
.proj-dets-text-container.monoto {
  width: 100%;
  float: left;
  margin-top: 4%;
  padding-left: 7%;
  padding-right: 1%;
}
.points.monoto {
  width: 64%;
  float: left;
  /*border: 1px solid red;*/
}
.tech-stack.monoto {
  width: 28%;
  float: right;
  /*border: 1px solid green;*/
}
.scroll-up {
  margin-top: 2%;
  width: 87%;
  font-size: 3.4em;
  font-weight: 100;
  color: #4f4f4f;
  opacity: 0.95;
  display: inline-block;
  text-align: right;
}

@media only screen and (min-width: 350px) {
.proj-dets-text-container {
  width: 83%;
}
.points{
  width: 65%;
  margin-left: 6%;
  /*border: 1px solid red;*/
}
.tech-stack {
  width: 26%;
  /*border: 1px solid green;*/
}
}
@media only screen and (min-width: 400px) {
  #slide-a-spacer {
    height: 68%;
  }
  #slide-1 {
    height: 32%;
  }
  #slide-2 {
    height: 83%;
  }
  #slide-3 {
    height: 105%;;
  }
  .proj-dets-text-container {
    width: 80%;
    margin-top: 7%;
  }
  .points{
    width: 67%;
    margin-left: 5%;
    /*border: 1px solid red;*/
  }
  .tech-stack {
    width: 25%;
    /*border: 1px solid green;*/
  }
  .proj-dets-img-container.monoto {
    width: 80%;
    height: 21%;
    margin: 10% auto 0 auto;
  }
  .proj-dets-text-container.monoto {
    padding-left: 7%;
    padding-right: 2%;
  }
  .points.monoto {
    width: 70%;
    float: left;
    /*border: 1px solid red;*/
  }
  .tech-stack.monoto {
    width: 22%;
    float: right;
    /*border: 1px solid green;*/
  }
}
@media only screen and (min-width: 450px) {
  .proj-dets-text-container {
    width: 74%;
    margin-top: 7%;
  }
  .points{
    width: 70%;
    margin-left: 6%;
    /*border: 1px solid red;*/
  }
  .tech-stack {
    width: 23%;
    /*border: 1px solid green;*/
  }
  .proj-dets-img-container.monoto {
    width: 80%;
    height: 22%;
    margin: 10% auto 0 auto;
  }
  .proj-dets-text-container.monoto {
    padding-left: 7%;
    padding-right: 2%;
  }
  .points.monoto {
    width: 70%;
    float: left;
    /*border: 1px solid red;*/
  }
  .tech-stack.monoto {
    width: 21%;
    float: right;
    /*border: 1px solid green;*/
  }

@media only screen and (min-width: 500px) {
  .proj-dets-img-container.monoto {
    width: 80%;
    height: 23%;
    margin: 10% auto 0 auto;
  }
  .proj-dets-text-container.monoto {
    padding-left: 8%;
    padding-right: 2%;
  }
  .points.monoto {
    width: 70%;
    float: left;
    /*border: 1px solid red;*/
  }
  .tech-stack.monoto {
    width: 21%;
    float: right;
    /*border: 1px solid green;*/
  }
}
@media only screen and (min-width: 550px) {
  .proj-dets-img-container.monoto {
    width: 80%;
    height: 25%;
    margin: 10% auto 0 auto;
  }
  .proj-dets-text-container.monoto {
    padding-left: 8%;
    padding-right: 2%;
  }
  .points.monoto {
    width: 69%;
    float: left;
    /*border: 1px solid red;*/
  }
  .tech-stack.monoto {
    width: 22%;
    float: right;
    /*border: 1px solid green;*/
  }
}
/*=== TABLET ==*/
@media only screen and (min-width: 600px) {
  #slide-a-spacer {
    height: 70%;
  }
  #slide-1 {
    height: 30%;
  }
  #slide-2 {
    height: 72%;
  }
  #slide-3 {
    height: 77%;
  }

  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }
  .proj-dets-maintitle {
    font-size: 2.5em;
  }
  .proj-dets-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-text-container {
  font-size: 2.2em;
  }
  .quote {
    font-size: 2.1em;
  }

  #title {
    margin: 5% auto 5.5% auto;
    font-size: 2.5em;
  }
  .portfolio-img-container {
    width: 50%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 8% auto 6% auto;
  }

  .proj-dets-img-container {
    width: 55%;
  }
  .proj-dets-text-container {
    width: 55%;
    margin: 5% auto 2% auto;
  }
  .points{
    width: 70%;
    margin-left: 5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 25%;
    /*border: 1px solid blue;*/
  }

  #monoto-img-main-holder{
    width: auto;
  }

  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 12%;
    padding-right: 9%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 18.5%;
    /*border: 1px solid green;*/
  }

  .proj-dets-img-container.monoto {
  width: 85%;
  height: 36%;
  }
  #monoto-img-main-holder{
  width: auto;
  }
  #monoto-img-email-holder{
  width: auto;
  float: right;
  margin-top: 0%;
  }
  .scroll-up{
    margin-top: -1%;
    width: 83%;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 87%;
  }
}
@media only screen and (min-width: 650px) {
  #slide-a-spacer {
    height: 70%;
  }
  #slide-1 {
    height: 30%;
  }
  #slide-2 {
    height: 75%;
  }
  #slide-3 {
    height: 81%;
  }

  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }
  .proj-dets-maintitle {
    font-size: 2.5em;
  }
  .proj-dets-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-text-container {
  font-size: 2.2em;
  }
  .quote {
    font-size: 2.1em;
  }

  #title {
    margin: 5% auto 5.5% auto;
    font-size: 2.5em;
  }
  .portfolio-img-container {
    width: 50%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 8% auto 6% auto;
  }

  .proj-dets-img-container {
    width: 55%;
  }
  .proj-dets-text-container {
    width: 55%;
    margin: 5% auto 2% auto;
  }
  .points{
    width: 68%;
    margin-left: 6.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 25%;
    /*border: 1px solid blue;*/
  }

  #monoto-img-main-holder{
    width: auto;
  }

  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 13%;
    padding-right: 10%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 16%;
    /*border: 1px solid green;*/
  }

.proj-dets-img-container.monoto {
  width: 85%;
  height: 37%;
}
#monoto-img-main-holder{
  width: auto;
}
#monoto-img-email-holder{
  width: auto;
  float: right;
  margin-top: 0%;
}
.scroll-up{
  margin-top: -1%;
  width: 83%;
}
.scroll-up.monoto {
  margin-top: -2%;
  width: 87%;
}
}
@media only screen and (min-width: 700px) {
  #slide-a-spacer {
    height: 69%;
  }
  #slide-1 {
    height: 31%;
  }
  #slide-2 {
    height: 75%;
  }
  #slide-3 {
    height: 86%;
  }
  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }
  .proj-dets-maintitle {
    font-size: 2.5em;
  }
  .proj-dets-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-text-container {
  font-size: 2.2em;
  }
  .quote {
    font-size: 2.1em;
  }

  #title {
    margin-top: 3.5%;
    font-size: 2.5em;
  }
  .portfolio-img-container {
    width: 45%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 8% auto 6% auto;
  }

  .proj-dets-img-container {
    width: 50%;
  }
  .proj-dets-text-container {
    width: 50%;
    margin: 5% auto 2% auto;
  }
  .points{
    width: 67%;
    margin-left: 6.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 25%;
    /*border: 1px solid blue;*/
  }

  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 18%;
    /*border: 1px solid green;*/
  }
  .proj-dets-img-container.monoto {
    width: 82%;
    height: 36%;
  }
  #monoto-img-main-holder{
    width: auto;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 80%;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 87%;
  }
  }
@media only screen and (min-width: 750px) {
  #slide-a-spacer {
    height: 68%;
  }
  #slide-1 {
    height: 32%;
  }
  #slide-2 {
    height: 79%;
  }
  #slide-3 {
    height: 86%;
  }
  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }
  .proj-dets-maintitle {
    font-size: 2.5em;
  }
  .proj-dets-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-text-container {
  font-size: 2.2em;
  }
  .quote {
    font-size: 2.1em;
  }

  #title {
    margin-top: 3.5%;
    font-size: 2.5em;
  }
  .portfolio-img-container {
    width: 45%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 8% auto 6% auto;
  }

  .proj-dets-img-container {
    width: 50%;
  }
  .proj-dets-text-container {
    width: 50%;
    margin: 5% auto 2% auto;
  }
  .points{
    width: 71%;
    margin-left: 6.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 21.5%;
  }

  .proj-dets-img-container.monoto {
    width: 78%;
    height: 37%;
  }
  #monoto-img-main-holder{
    width: auto;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 17%;
    padding-right: 13.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 80%;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 87%;
  }
  }
/* DESKTOP */
/*== Media Responsive for different Desktop browser window size ==*/
@media only screen and (min-width: 768px) {
  #slide-a-spacer {
    height: 68%;
  }
  #slide-1 {
    height: 32%;
  }
  #slide-2 {
    height: 79%;
  }
  #slide-3 {
    height: 86%;
  }
  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }
  .proj-dets-maintitle {
    font-size: 2.5em;
  }
  .proj-dets-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-text-container {
  font-size: 2.2em;
  }
  .quote {
    font-size: 2.1em;
  }

  #title {
    margin-top: 3.5%;
    font-size: 2.5em;
  }
  .portfolio-img-container {
    width: 45%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 8% auto 6% auto;
  }

  .proj-dets-img-container {
    width: 50%;
  }
  .proj-dets-text-container {
    width: 50%;
    margin: 5% auto 2% auto;
  }
  .points{
    width: 71%;
    margin-left: 6.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 21.5%;
  }

  .proj-dets-img-container.monoto {
    width: 77%;
    height: 36%;
  }
  #monoto-img-main-holder{
    width: auto;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 17%;
    padding-right: 13.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  #monoto-img-email-holder{
    width: auto;
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 80%;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 87%;
  }
}
@media only screen and (min-width: 800px) {
  #slide-a-spacer {
    height: 65%;
  }
  #slide-1 {
    height: 35%;
  }
  #slide-2 {
    height: 80%;
  }
  #slide-3 {
    height: 94%;
  }
  .proj-title {
    font-size: 2.2em;
  }
  .proj-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-maintitle {
    font-size: 2.7em;
  }
  .proj-dets-subtitle {
    font-size: 2.1em;
    margin-top: 0.5%;
  }
  .proj-dets-text-container {
  font-size: 2.4em;
  }
  .quote {
    font-size: 2.3em;
  }
  /*===*/
  #title {
    margin:4% auto 4.5% auto;
    font-size: 2.7em;
  }
  .portfolio-img-container {
    width: 37%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 6.5% auto 5% auto;
  }

  .proj-dets-img-container {
    width: 45%;
  }
  .proj-dets-text-container {
    width: 46%;
  }
  .points{
    width: 67%;
    margin-left: 6%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 25%;
  }

  .proj-dets-img-container.monoto {
    width: 80%;
    height: 37%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 15.5%;
    padding-right: 12%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  #monoto-img-email-holder{
    width: auto;
    margin-top: 0%;
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 76%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    font-size: 4em;
  }
  }
@media only screen and (min-width: 850px) {
  #slide-a-spacer {
    height: 65%;
  }
  #slide-1 {
    height: 35%;
  }
  #slide-2 {
    height: 82%;
  }
  #slide-3 {
    height: 94%;
  }
  .proj-title {
    font-size: 2.2em;
  }
  .proj-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-maintitle {
    font-size: 2.7em;
  }
  .proj-dets-subtitle {
    font-size: 2.1em;
    margin-top: 0.5%;
  }
  .proj-dets-text-container {
  font-size: 2.4em;
  }
  .quote {
    font-size: 2.3em;
  }
  /*===*/
  #title {
    margin:4% auto 4.5% auto;
    font-size: 2.7em;
  }
  .portfolio-img-container {
    width: 37%;
  }
  #portfolio-img-card-one {
    width: 44%;
  }

  #portfolio-img-card-two {
    width: 44%;
  }
  .proj-dets-title-container {
    margin: 6.5% auto 5% auto;
  }

  .proj-dets-img-container {
    width: 45%;
  }
  .proj-dets-text-container {
    width: 46%;
  }


  .proj-dets-img-container.monoto {
    width: 76%;
    height: 37%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 21%;
    padding-right: 18.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17%;
    /*border: 1px solid green;*/
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 16%;
    padding-right: 12%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 76%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    font-size: 4em;
  }
  }
  @media only screen and (min-width: 900px) {
    #slide-a-spacer {
      height: 65%;
    }
    #slide-1 {
      height: 35%;
    }
    #slide-2 {
      height: 85%;
    }
    #slide-3 {
      height: 94%;
    }
    .proj-title {
      font-size: 2.2em;
    }
    .proj-subtitle {
      font-size: 1.9em;
    }
    .proj-dets-maintitle {
      font-size: 2.7em;
    }
    .proj-dets-subtitle {
      font-size: 2.1em;
      margin-top: 0.5%;
    }
    .proj-dets-text-container {
    font-size: 2.4em;
    }
    .quote {
      font-size: 2.3em;
    }
    /*===*/
    #title {
      margin:4% auto 4.5% auto;
      font-size: 2.7em;
    }
    .portfolio-img-container {
      width: 37%;
    }
    #portfolio-img-card-one {
      width: 44%;
    }

    #portfolio-img-card-two {
      width: 44%;
    }
    .proj-dets-title-container {
      margin: 6.5% auto 5% auto;
    }

    .proj-dets-img-container {
      width: 45%;
    }
    .proj-dets-text-container {
      width: 46%;
    }

    .proj-dets-img-container.monoto {
      width: 73%;
      height: 38%;
    }
    .proj-dets-text-container.monoto {
      margin-top: 5%;
      padding-left: 21%;
      padding-right: 18.5%;
      /*border: 1px solid red;*/
    }
    .points.monoto{
      width: 78%;
      margin-left: 0%;
      /*border: 1px solid blue;*/
    }
    .tech-stack.monoto {
      width: 17%;
      /*border: 1px solid green;*/
    }

    #monoto-img-email-holder{
      width: auto;
      float: right;
      margin-top: 0%;
    }
    .proj-dets-text-container.monoto {
      margin-top: 5%;
      padding-left: 17%;
      padding-right: 12%;
      /*border: 1px solid red;*/
    }
    .points.monoto{
      width: 78%;
      margin-left: 0%;
      /*border: 1px solid blue;*/
    }
    .tech-stack.monoto {
      width: 17.5%;
      /*border: 1px solid green;*/
    }
    .scroll-up{
      margin-top: -1.5%;
      width: 76%;
      font-size: 4em;
    }
    .scroll-up.monoto {
      font-size: 4em;
    }
    }
@media only screen and (min-width: 950px) {
  #slide-a-spacer {
    height: 69%;
  }
  #slide-1 {
    height: 31%;
  }
  #slide-2 {
    height: 87%;
  }
  #slide-3 {
    height: 94%;
  }
  .proj-title {
    font-size: 2.2em;
  }
  .proj-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-maintitle {
    font-size: 2.7em;
  }
  .proj-dets-subtitle {
    font-size: 2.1em;
    margin-top: 0.5%;
  }
  .proj-dets-text-container {
  font-size: 2.4em;
  }
  .quote {
    font-size: 2.3em;
  }
  /*===*/
  #title {
    margin:3.5% auto 3.5% auto;
    font-size: 2.7em;
  }
  .portfolio-img-container {
    width: 37%;
  }
  #portfolio-img-card-one {
    width: 43%;
  }

  #portfolio-img-card-two {
    width: 43%;
  }
  .proj-dets-title-container {
    margin: 6.5% auto 5% auto;
  }

  .proj-dets-img-container {
    width: 45%;
  }
  .proj-dets-text-container {
    width: 46%;
  }

  .proj-dets-img-container.monoto {
    width: 70%;
    height: 38%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 21%;
    padding-right: 18.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17%;
    /*border: 1px solid green;*/
  }

  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 19%;
    padding-right: 15%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 76%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    font-size: 4em;
  }
}
@media only screen and (min-width: 1000px) {
  #slide-a-spacer {
    height: 69.5%;
  }
  #slide-1 {
    height: 30.5%;
  }
  #slide-2 {
    height: 93%;
  }
  #slide-3 {
    height: 94%;
  }
  .proj-title {
    font-size: 2.2em;
  }
  .proj-subtitle {
    font-size: 1.9em;
  }
  .proj-dets-maintitle {
    font-size: 2.7em;
  }
  .proj-dets-subtitle {
    font-size: 2.1em;
    margin-top: 0.5%;
  }
  .proj-dets-text-container {
  font-size: 2.4em;
  }
  .quote {
    font-size: 2.3em;
  }
  /*===*/
  #title {
    margin: 3.5% auto 4% auto;
    font-size: 2.7em;
  }
  .portfolio-img-container {
    width: 31%;
  }
  #portfolio-img-card-one {
    width: 41%;
  }

  #portfolio-img-card-two {
    width: 41%;
  }
  .proj-dets-title-container {
    margin: 6.5% auto 5% auto;
  }

  .proj-dets-img-container {
    width: 45%;
  }
  .proj-dets-text-container {
    width: 46%;
  }
  .proj-dets-img-container.monoto {
    width: 64.5%;
    height: 37%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 21%;
    padding-right: 18.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17%;
    /*border: 1px solid green;*/
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 21.5%;
    padding-right: 18%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 76%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 85%;
    font-size: 4em;
  }
}
@media only screen and (min-width: 1100px) {
  #slide-a-spacer {
    height: 69%;
  }
  #slide-1 {
    height: 31%;
  }
  #slide-2 {
    height: 92%;
  }
  #slide-3 {
    height: 92%;
  }
  #title {
    margin: 3.5% auto 3.5% auto;
  }
  .portfolio-img-container {
    width: 30%;
    margin: 0% auto 0% auto;
  }

  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }

  .proj-subtitle {
    margin-top: 0.8%;
  }
    #portfolio-img-card-one {
      width: 43%;
    }

    #portfolio-img-card-two {
      width: 43%;
    }
    .proj-dets-title-container {
      margin: 6% auto 5% auto;
    }

  .proj-dets-img-container {
    width: 40%;
  }
  .proj-dets-text-container {
    width: 43%;
  }
  .proj-dets-img-container.monoto {
    width: 60%;
    height: 37.5%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 23%;
    padding-right: 20.5%;
    /*border: 1px solid red;*/
  }
  .points{
    width: 65%;
    margin-left: 9%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 25%;
    /*border: 1px solid blue;*/
  }

  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 23.5%;
    padding-right: 20%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 73%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 81%;
    font-size: 4em;
  }
}
@media only screen and (min-width: 1200px) {
  #slide-a-spacer {
    height: 66%;
  }
  #slide-1 {
    height: 34%;
  }
  #slide-2 {
    height: 96%;
  }
  #slide-3 {
    height: 95%;
  }
  #title {
    margin: 3% auto 3.7% auto;
  }
  .portfolio-img-container {
    width: 27%;
    margin: 0% auto 0% auto;
  }

  .proj-title {
    font-size: 2em;
  }
  .proj-subtitle {
    font-size: 1.7em;
  }

  .proj-subtitle {
    margin-top: 0.8%;
  }
    #portfolio-img-card-one {
      width: 44%;
    }

    #portfolio-img-card-two {
      width: 44%;
    }
    .proj-dets-title-container {
      margin: 5% auto 4.5% auto;
    }

  .proj-dets-img-container {
    width: 39%;
  }
  .proj-dets-text-container {
    width: 41%;
  }
  .proj-dets-img-container.monoto {
    width: 56%;
    height: 38%;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 5%;
    padding-left: 25%;
    padding-right: 21.5%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 71.5%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 80%;
    font-size: 4em;
  }
}

@media only screen and (min-width: 1300px) {
  #slide-a-spacer {
    height: 65%;
    width:100%;
  }
  #slide-1 {
    height: 35%;
  }

  #slide-2 {
    height: 105%;
  }
  #slide-3 {
    height: 99%;
  }
  .portfolio-img-container {
    width: 30%;
  }
  #portfolio-img-card-one {
    width: 42.5%;
  }

  #portfolio-img-card-two {
    width: 42.5%;
  }

  #title {
    margin: 3% auto 2.5% auto;
    font-size: 2.9em;
  }
  .proj-title {
    font-size: 2.4em;
  }
  .proj-subtitle {
    font-size: 2.1em;
  }
  .proj-dets-title-container {
    margin: 6% auto 4% auto;
  }
  .proj-dets-maintitle {
    font-size: 2.9em;
  }
  .proj-dets-subtitle {
    font-size: 2.3em;
  }
  .proj-dets-text-container {
  font-size: 2.5em;
  }
  .quote {
    font-size: 2.5em;
  }
  .proj-dets-img-container {
    width: 41%;
    margin: 0 auto 0 auto;
  }
  .proj-dets-img-container.monoto {
    width: 52%;
    height: 38.5%;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 4%;
    padding-left: 27.5%;
    padding-right: 24%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 72%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 78%;
    font-size: 4em;
  }
}
@media only screen and (min-width: 1400px) {
  #slide-2 {
    height: 100%;
  }
  .proj-dets-title-container {
    margin: 4% auto 3% auto;
  }
  .proj-dets-img-container {
    width: 38%;
  }
  .proj-dets-text-container {
    width: 40%;
    margin: 3% auto 0% auto;
  }
  .points{
    width: 71%;
    margin-left: 6.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 21.5%;
  }

  .proj-dets-text-container.monoto {
    margin-top: 3%;
    padding-left: 30%;
    padding-right: 27%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 16%;
    /*border: 1px solid green;*/
  }

  .proj-dets-img-container.monoto {
    width: 50%;
    height: 40%;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 72%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 77%;
    font-size: 4em;
  }
}
@media only screen and (min-width: 1500px) {
  #slide-a-spacer {
    height: 65%;
    width:100%;
  }
  #slide-1 {
    height: 35%;
  }
  #slide-2 {
    height: 98%;
  }
  #slide-3 {
    height: 98%;
  }
  .portfolio-img-container {
    width: 26%;
  }
  #portfolio-img-card-one {
    width: 42%;
  }

  #portfolio-img-card-two {
    width: 42%;
  }

  #title {
    margin: 2% auto 2% auto;
    font-size: 2.9em;
  }
  .proj-title {
    font-size: 2.4em;
  }
  .proj-subtitle {
    font-size: 2.1em;
  }
  .proj-dets-img-container {
    width: 33%;
  }
  .proj-dets-title-container {
    margin: 4.5% auto 4% auto;
  }
  .proj-dets-subtitle {
    margin-top: 0.4%;
  }
  .proj-dets-text-container {
    width: 35%;
  }
  .points{
    width: 71%;
    margin-left: 7.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 20%;
    /*border: 1px solid blue;*/
  }
  .proj-dets-title-container.monoto {
    margin: 4% auto 4% auto;
  }
  /*.proj-dets-img-container.monoto {
    width: 45%;
    height: 40%;
  }*/
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 4%;
    padding-left: 29%;
    padding-right: 26%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }

  .proj-dets-img-container.monoto {
    width: 48%;
    height: 41%;
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 69%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 76%;
    font-size: 4em;
  }
}

@media only screen and (min-width: 1600px) {
  #slide-a-spacer {
    height: 65%;
    width:100%;
  }
  #slide-1 {
    height: 35%;
  }
  #slide-2 {
    height: 104%;
  }
  #slide-3 {
    height: 97%;
  }
  .portfolio-img-container {
    width: 26%;
  }
  #portfolio-img-card-one {
    width: 42%;
  }

  #portfolio-img-card-two {
    width: 42%;
  }

  #title {
    margin: 2% auto 2% auto;
    font-size: 2.9em;
  }
  .proj-title {
    font-size: 2.4em;
  }
  .proj-subtitle {
    font-size: 2.1em;
  }
  .proj-dets-img-container {
    width: 33%;
  }
  .proj-dets-title-container {
    margin: 4.5% auto 4% auto;
  }
  .proj-dets-subtitle {
    margin-top: 0.4%;
  }
  .proj-dets-text-container {
    width: 35%;
  }
  .points{
    width: 71%;
    margin-left: 7.5%;
    /*border: 1px solid blue;*/
  }
  .tech-stack {
    width: 20%;
    /*border: 1px solid blue;*/
  }
  .proj-dets-title-container.monoto {
    margin: 4% auto 3% auto;
  }
  .proj-dets-img-container.monoto {
    width: 45%;
    height: 39.5%;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 2.6%;
    padding-left: 32%;
    padding-right: 30%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 16%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 69%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 75%;
    font-size: 4em;
  }
}
@media only screen and (min-width: 1700px) {
  #slide-a-spacer {
    height: 65%;
    width:100%;
  }
  #slide-1 {
    height: 35%;
  }
  #slide-2 {
    height: 105%;
  }
  .portfolio-img-container {
    width: 26%;
  }
  #portfolio-img-card-one {
    width: 42%;
  }

  #portfolio-img-card-two {
    width: 42%;
  }

  #title {
    margin: 2% auto 2% auto;
    font-size: 2.9em;
  }
  .proj-title {
    font-size: 2.4em;
  }
  .proj-subtitle {
    font-size: 2.1em;
  }
  .proj-dets-img-container.monoto {
    width: 44%;
    height: 43%;
  }
  #monoto-img-email-holder{
    width: auto;
    float: right;
    margin-top: 0%;
  }
  .proj-dets-text-container.monoto {
    margin-top: 3%;
    padding-left: 31%;
    padding-right: 28%;
    /*border: 1px solid red;*/
  }
  .points.monoto{
    width: 78%;
    margin-left: 0%;
    /*border: 1px solid blue;*/
  }
  .tech-stack.monoto {
    width: 17.5%;
    /*border: 1px solid green;*/
  }
  .scroll-up{
    margin-top: -1.5%;
    width: 68%;
    font-size: 4em;
  }
  .scroll-up.monoto {
    margin-top: -2%;
    width: 74%;
    font-size: 4em;
  }
}
